<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/contact.css">
</head>
<body>


<!-- Cantact Page -->

  <div id="contact" class="d-flex flex-row align-items-center" style="margin-top: 30px;">
    <div class="container">
      <div class="row  row-cols-auto align-items-center g-5 py-4 mb-4">
      
        <div class="col-12 col-lg-6 py-5">        
          <h2> Contact </h2>
          <br>
          <p style="font-size: 18px;">Thanks for stopping by Dessert World today!
          <br>
            I read every comments that arrives in my inbox, but can’t respond to all of them as I receive over 100 per day.
          <br>Do you have a question for me or would just like to say hello? I’d love to hear from you!
            Feel free to drop me a comment.</p>
            <div class="contact-img"></div>
        </div>
        
        

        <div class="col-12 col-lg-6 py-5">
          <h3 class="title">Leave a Comment</h3>
            <form method="POST" action="/contact">
              <div class="item">
                <label class="label">Name</label>
                <input type="text" class="input" placeholder="Your name" name="name" required/>
              </div>

              <div class="item">
                <label class="label">Comment</label>
                <textarea class="input" placeholder="Type your comment here" name="comment" required></textarea>
              </div>

              <div class="button-area" >
                <input class="co-btn" type="submit" value="Submit" />
                <input class="co-btn" type="reset" value="Reset" />
              </div>
            </form>

            <!-- alert -->
            <% if(infoSubmitObj != '') { %>
              <div class="alert alert-success" role="alert">
                <%= infoSubmitObj %>
              </div>
            <% } %>

            <% if(infoErrorsObj != '') { %>
              <div class="alert alert-warning" role="alert">
                <%= infoErrorsObj %>
              </div>
            <% } %>
            <!-- alert -->


            <!-- display comments start-->

            <div class="d-flex flex-column-reverse single-thread">
              <ul class="list-group list-group-flush"></ul>
                <% contact.forEach(function(contact) { %>
                  <li class="list-group-item"> <h5><%= contact.name %></h5>
                    <p style="font-size: 18px;"><%= contact.comment %></p>
                    <p style="font-size: 13px;"><%= contact.date %></p>
                  </li>
                <% }) %>
              </ul>
            </div>
              <!-- display comments end--> 
        </div>

      </div>
    </div>
  </div>


 
</body>
</html>